@import "colours.scss";

.PaginatedList {

  &__Data {
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    width: 90vw;
    height:78vh;
    padding-top: 2vh;
    margin: 0 auto;
    
    .Item {
      height:20%;
      margin-bottom: 30px;
      border-radius: 5px;
      border: 2px solid $highlight;
      
      display:flex;
      justify-content: space-evenly;
      align-items: center;
      font-family: 'bold';

      .name {
        color: white;
        // max-width: 15%;
        // border: 1px solid red;
      }

      img {
        // width: 15%;
        background-color: white;
        border-radius: 5px;
      }

      &--READY_TO_TRY {
        border-left: 15px solid $ready;
      }
  
      &--ON_THE_WAY {
        border-left: 15px solid $transit;
      }
  
      &--IN_QUEUE {
        border-left: 15px solid $queue;
      }
  
      &--OUT_OF_STOCK {
        border-left: 15px solid $out;
      }
      .category, .size, .colour {
        color: $highlight;
        text-transform: capitalize;
        // border: 1px solid red;
        font-size: 0.9rem;
      }
  
      .initials {
        padding: 10px;
        border-radius: 5px;
        border: 2px solid $highlight;
        text-transform: uppercase;
        font-family: 'bold';
      }
    }
  }

  &__Icons {
    display:flex;
    justify-content: center;
  }
  
  &__PageNumbers {
    margin-right:50px;
    text-align: end;
    font-size: large;
    font-family: 'bold';
    color: $highlight;

    .current{
      color: white;
    }
    .pipe {
      font-size: 1.4rem;
      font-family: 'light';
    }
  }
}


.Icon {
  cursor: pointer;
  display:inline-block;
  width:15px;
  height: 15px;
  border-radius: 15px;
  background-color: white;
  margin:10px;

  &--current {
    background-color: $ready;
  }
}