@import "colours.scss";

.PaginatedList {

  &__Data {
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    width: 90vw;
    height:78vh;
    padding-top: 2vh;
    margin: 0 auto;

  }

  &__Icons {
    display:flex;
    justify-content: center;
  }
  
  &__PageNumbers {
    margin-right:50px;
    text-align: end;
    font-size: large;
    font-family: 'bold';
    color: $highlight;

    .current{
      color: white;
    }
    .pipe {
      font-size: 1.4rem;
      font-family: 'light';
    }
  }
}


.Icon {
  cursor: pointer;
  display:inline-block;
  width:15px;
  height: 15px;
  border-radius: 15px;
  background-color: white;
  margin:10px;

  &--current {
    background-color: $ready;
  }
}